(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Adieresis,
Adieresismacron,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcroat,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecircumflex,
Edieresis,
Edotaccent,
Egrave,
Emacron,
Eogonek,
Etilde,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
H,
Hbar,
Hcircumflex,
I,
IJ,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idieresis,
Idieresisacute,
Idotaccent,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
L,
Lacute,
Lcaron,
Lcommaaccent,
Ldot,
Lslash,
M,
Macute,
N,
Nacute,
Ncaron,
Ncommaaccent,
Ndotaccent,
Ntilde,
Eng,
O,
Oacute,
Obreve,
Ocaron,
Ocircumflex,
Odieresis,
Ograve,
Ohungarumlaut,
Omacron,
Omacronacute,
Omacrongrave,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcommaaccent,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udieresisacute,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
kgreenlandic.case,
napostrophe.case,
A.ss10,
Aacute.ss10,
Abreve.ss10,
Acircumflex.ss10,
Adieresis.ss10,
Agrave.ss10,
Amacron.ss10,
Aogonek.ss10,
Aring.ss10,
Atilde.ss10,
B.ss10,
D.ss10,
Dcaron.ss10,
E.ss10,
Eacute.ss10,
Ebreve.ss10,
Ecaron.ss10,
Ecircumflex.ss10,
Edieresis.ss10,
Edotaccent.ss10,
Egrave.ss10,
Emacron.ss10,
Eogonek.ss10,
F.ss10,
G.ss10,
Gbreve.ss10,
Gcircumflex.ss10,
Gdotaccent.ss10,
M.ss10,
P.ss10,
T.ss10,
Tbar.ss10,
Tcaron.ss10,
Tcedilla.ss10,
Tcommaaccent.ss10,
U.ss10,
Uacute.ss10,
Ubreve.ss10,
Ucircumflex.ss10,
Udieresis.ss10,
Ugrave.ss10,
Uhungarumlaut.ss10,
Umacron.ss10,
Uogonek.ss10,
Uring.ss10,
Utilde.ss10,
V.ss10,
X.ss10,
H.alt,
Hcircumflex.alt,
J.alt,
Jcircumflex.alt,
K.alt,
Kcommaaccent.alt,
L.alt,
Lacute.alt,
Lcaron.alt,
Lcommaaccent.alt,
N.alt,
Nacute.alt,
Ncaron.alt,
Ncommaaccent.alt,
Ntilde.alt,
Eng.alt,
R.alt,
Racute.alt,
Rcaron.alt,
Rcommaaccent.alt,
W.alt,
Wacute.alt,
Wcircumflex.alt,
Wdieresis.alt,
Wgrave.alt,
Y.alt,
Yacute.alt,
Ycircumflex.alt,
Ydieresis.alt,
Ygrave.alt,
a,
aacute,
abreve,
acaron,
acircumflex,
adieresis,
adieresismacron,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
eth,
e,
eacute,
ebreve,
ecaron,
ecircumflex,
edieresis,
edotaccent,
egrave,
emacron,
eogonek,
etilde,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
h,
hbar,
hcircumflex,
i,
idotless,
idotless_ogonekcomb,
iacute,
iacute_ogonekcomb,
ibreve,
ibreve_ogonekcomb,
icaron,
icircumflex,
icircumflex_ogonekcomb,
idieresis,
idieresis_ogonekcomb,
idieresisacute,
idotaccent,
igrave,
igrave_ogonekcomb,
imacron,
imacron_ogonekcomb,
iogonek,
itilde,
itilde_ogonekcomb,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldot,
lslash,
m,
macute,
n,
nacute,
napostrophe,
ncaron,
ncommaaccent,
ndotaccent,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
odieresis,
ograve,
ohungarumlaut,
omacron,
omacronacute,
omacrongrave,
oslash,
oslashacute,
otilde,
otildeacute,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udieresisacute,
udieresiscaron,
udieresisgrave,
udieresismacron,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
a.ss01,
aacute.ss01,
abreve.ss01,
acircumflex.ss01,
adieresis.ss01,
agrave.ss01,
amacron.ss01,
aogonek.ss01,
aring.ss01,
atilde.ss01,
g.ss01,
gbreve.ss01,
gcircumflex.ss01,
gcommaaccent.ss01,
gdotaccent.ss01,
f_b,
f_f,
f_f_b,
f_f_f,
f_f_h,
f_f_i,
f_f_j,
f_f_k,
f_f_l,
f_f_t,
f_h,
f_i,
f_j,
f_k,
f_l,
f_t,
ordfeminine,
ordmasculine,
ordfeminine.ss01,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
threefifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
twosevenths,
threesevenths,
foursevenths,
fivesevenths,
sixsevenths,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
twoninths,
fourninths,
fiveninths,
sevenninths,
eightninths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
CR,
.notdef,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
exclamdown.case,
questiondown.case,
hyphen,
endash,
emdash,
underscore,
hyphen.case,
endash.case,
emdash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
florin,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
literSign,
daggerdbl,
estimated,
numero,
at.case,
bar.case,
brokenbar.case,
ampersand.ss01,
dagger,
cent,
currency,
dollar,
euro,
sterling,
yen,
rupeeIndian,
divisionslash,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
logicalnot,
asciitilde,
asciicircum,
increment,
product,
summation,
radical,
percent,
perthousand,
infinity,
integral,
Ohm,
partialdiff,
micro,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
caron.alt,
_part.initL,
_corner.serifLeft,
revcommaaccent
)